# File Types
*.pyc
*.pyo
*.pyd
*.pkl

# Folders
__pycache__/
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
.idea/
.vscode/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Logs and Databases
logs/
*.log
